{% from "_macros.html" import form_item with context %}
{% extends 'base.html' %}

{% block content %}
<div class="py-4 container">
  <div class="card mx-auto" style="max-width: 512px;">
    <div class="card-header">
      <h4 class="card-title">Login</h4>
    </div>
    <div class="card-body">
      <form class="form" role="form" action="{{ url_for('auth.login') }}" method="post">
        {{ form_item(form.user_id, form.errors.user_id) }}
        {{ form_item(form.password, form.errors.password) }}

        <div class="mb-3">
          {{form.submit(class='btn btn-primary')}}
        </div>

        <p>Don't have an account? <a href="{{ url_for('auth.register') }}">Register</a>.</p>
      </form>
    </div>
  </div>
</div>
{% endblock %}