{% from "_macros.html" import form_item with context %}
<form role="form" action="{{ action }}" method="post">
  <div class="row">
    <div class="col-lg-3">
      {{ form_item(form.link, form.errors.link) }}
    </div>
    <div class="col-lg-9">
      {{ form_item(form.redirect, form.errors.redirect) }}
    </div>
  </div>

  {{ form_item(form.expiration, form.errors.expiration, hint='Disables the link after the given date. Leave blank for no expiration.') }}
  <div class="mb-3">
    <div class="form-check">
      {{ form.activated(class='form-check-input', type='checkbox') }} 
      <label class="form-check-label">{{ form.activated.label }}</label>
    </div>
  </div>
  <div class="btn-group" role="group">
    {{ form.submit(class='btn btn-primary btn-block px-4') }}
    {%- if back -%}
      <a href="{{ back }}" class="btn btn-secondary px-4">Cancel</a>
    {%- endif -%}
  </div>
</form>