{% extends "base.html" %}

{% block content %}
<section>
  <div class="container py-2">
    <div class="row">
      <div class="col-md-8 p-2">
        <h2>
          <span class="mr-3">{{ link.link }}</span><span class="text-muted">{{ link.short_redirect() }}</span>
        </h2>

        {% if link.expiration %}
          <h5>{{ 'Expired' if link.is_expired() else 'Expires' }} {{ link.expiration.strftime('%x') }}</h5>
        {% endif %}

        <form class="row g-3 align-items-center">
          <div class="col">
            <input readonly type="text" class="form-control" id="copyLink" value="{{ link.full_link() }}">
          </div>
          <div class="col-auto">
            <button type="button" onclick="copy()" class="btn btn-primary"><i class="fas fa-copy mr-2"></i>Copy URL</button>
          </div>
        </form>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-6 p-2">
            <div class="card p-2 text-center">
              <h5>Total Hits</h5>
              <p class="lead">{{ link.requests|count|humanize_number }}</p>
            </div>
          </div>
          <div class="col-6 p-2">
            <div class="card p-2 text-center">
              <h5>Today's Hits</h5>
              <p class="lead">{{ link.requests_for_today()|count|humanize_number }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container py-5">
    {% with action=url_for('links.link', value=link.id) %}
      {% include "links/_form.html" %}
    {% endwith %}
  </div>
</section>

{% if data %}
  <section>
    <div class="container py-4">
      <div class="row">
        {% if data['browser'] %}
          <div class="col-md-6 p-2">
            <div class="card p-4">
              <p class="lead text-center">Browser usage</p>
              {% with label='Browser (%)', labels=data['browser']['labels'], values=data['browser']['values'] %}
                {% include "graphs/_bar_chart.html" %}
              {% endwith %}
            </div>
          </div>
        {% endif %}
        {% if data['version'] %}
          <div class="col-md-6 p-2">
            <div class="card p-4">
              <p class="lead text-center">Browser version usage</p>
              {% with label='Browser version (%)', labels=data['version']['labels'], values=data['version']['values'] %}
                {% include "graphs/_bar_chart.html" %}
              {% endwith %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  </section>
{% endif %}

<script>
  function copy() {
    var input = document.getElementById("copyLink");
    input.select();
    input.setSelectionRange(0, 99999); /* Mobile support */

    document.execCommand("copy");

    alert("Copied the link '" + input.value + "'.");
  }
</script>

{% endblock %}