{% extends "base.html" %}

{% block content %}
<section>
  <div class="container py-4">
    <h2 class="m-0">Settings</h2>
  </div>
</section>

<section>
  <div class="container py-4">
    <div class="row">
      <div class="col-md-4 p-2 d-flex">
        <div class="card w-100">
          <div class="card-body">
            <h5 class="card-title">Configuration</h5>
            <p class="card-text">
              Adjust various configurable items, such as access and default link settings. 
            </p>
            <a href="#" class="btn btn-primary">Edit</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}