section {
  min-height: 20px;

  .card {
    background-color: $gray-100;
  }

  &:nth-child(odd) {
    background-color: $gray-100;
    border-bottom: 1px solid $gray-300;
  }

  &:nth-child(odd) {
    .card {
      background-color: $gray-200;
    }
  }
}