section {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .card {
    background-color: $gray-100;
  }

  &:not(:first-child) {
    min-height: 150px;
  }

  &:nth-child(odd) {
    background-color: $gray-100;
    border-bottom: 1px solid $gray-300;
  }

  &:nth-child(odd) {
    .card {
      background-color: $gray-200;
    }
  }
}