@import "variables";
@import "cards";
@import "header";

body {
  background-color: $gray-200;
}

footer {
  background-color: $gray-100;
}

nav[aria-label="breadcrumb"] {
  ol {
    background-color: $gray-200;
    border: 1px solid $gray-300;
    border-bottom: 0;
  }
}

main {
  min-height: 500px;
}

table {
  .inactive {
    opacity: 0.5;
  }
}

.no-overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}