{% from "_macros.html" import nav_link with context %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>{{ config.APP_NAME }}</title>
  <!-- meta -->
  <meta name="description" content="">
  <meta name="author" content="">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  
  <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>

  {% block meta %}{% endblock %}

  <!-- CSS only -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css" 
    integrity="sha512-/zs32ZEJh+/EO2N1b0PEdoA10JkdC3zJ8L5FTiQu82LR9S/rOQNfQN7U59U9BC12swNeRAz3HSzIL2vpp4fv3w==" 
    crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/application.css') }}">
  {% block links %}{% endblock %}

  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" 
    integrity="sha512-s+xg36jbIujB2S2VKfpGmlC3T5V2TF3lY48DX7u2r9XzGzgPsa6wTpOQA7J9iffvdeBN0q9tKzRxVxw1JviZPg==" 
    crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        {%- if current_user.is_authenticated -%}
        <a class="navbar-brand" href="{{ url_for('links.dashboard') }}">
        {%- else -%}
        <a class="navbar-brand" href="{{ url_for('main.index') }}">
        {%- endif -%}
          <div id="nav-logo" class="d-inline-block align-top"></div>
          <span class="ml-1">{{ config.APP_NAME }}</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#extraMenu" aria-controls="extraMenu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="extraMenu">
          <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
            {%- if current_user.is_authenticated -%}
              {{ nav_link('links.dashboard', 'Dashboard') }}
            {%- endif -%}
          </ul>
          <div class="navbar-nav d-flex">
            {%- if current_user.is_authenticated -%}
              {{ nav_link('auth.profile', current_user.username + '\'s Profile') }}
              {{ nav_link('auth.logout', 'Logout') }}
            {%- else -%}
              {{ nav_link('auth.login', 'Login') }}
              {{ nav_link('auth.register', 'Register') }}
            {%- endif -%}
          </form>
        </div>
      </div>
    </nav>
  </header>

  <main>
    <section>
      {% block hero %}{% endblock %}

      <div class="py-2 container">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            {%- if breadcrumbs -%}
              {%- for breadcrumb in breadcrumbs -%}
                {%- if loop.last -%}
                  <li class="breadcrumb-item active" aria-current="page">{{ breadcrumb.text }}</li>
                {%- else -%}
                  <li class="breadcrumb-item"><a href="{{ breadcrumb.url }}">{{ breadcrumb.text }}</a></li>
                {%- endif -%}
              {%- endfor -%}
            {%- endif -%}
          </ol>
        </nav>

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        <div id="alerts">
          {% for category, message in messages %}
          <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
            {{ message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          {% endfor %}
        </div>
        {% endif %}
        {% endwith %}
      </div>
    </section>
    {% block content %}{% endblock %}
  </main>


  <!-- JavaScript and dependencies -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
  {% block scripts %}{% endblock %}
</body>

</html>